@import "./base/fonts";
@import "./utils/variables";
@import "./base/common";
@import "./components/menu";
@import "./layouts/header";
@import "./layouts/contacts";
@import "./layouts/hero";
@import "./components/buttons";
@import "./components/features";

.wedo .list-margin {
    margin-top: 50px;
    display: flex;
}

.list-margin .item-img {
    position: relative;
}

.list-margin .item-img:not(:last-child) {
    margin-right: 30px;
}

.wedo .title {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--black);
    font-weight: 700;
    font-family: Roboto;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

.img-block {
    display: block;
}

.wedo .wedo-content {
    position: absolute;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    font-weight: 700;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--white);
}

.container.team-padding {
    padding-top: 94px;
    padding-bottom: 94px;
}

.team.margin {
    margin-top: 94px;
}

.team {
    background: var(--bg);
}

.team .team-list {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.team-list > .list-description {
    padding-bottom: 30px;
    background: var(--primary-bg);
    box-shadow: 0px 1px 3px #0000001f, 0px 1px 1px #00000024,
    0px 2px 1px #00000033;
    border-radius: 0px 0px 4px 4px;
}

.team-list .list-description:not(:last-child) {
    margin-right: 30px;
}

.team .title {
    color: var(--black);
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

.team .name {
    margin-top: 30px;
    color: var(--black);
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2x;
    text-align: center;
}

.team .position {
    margin-top: 10px;
    color: var(--main-text-cl);
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2x;
    text-align: center;
}

.clients.container {
    padding-bottom: 94px;
}

.clients .title {
    margin-top: 94px;
    margin-bottom: 0;
    color: var(--black);
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
}

.clients .clients-list {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.clients .clients-item:not(:last-child) {
    margin-right: 30px;
}

.clients .clients-links {
    display: flex;
    width: 170px;
    height: 90px;
    justify-content: center;
    align-items: center;
    fill: var(--gray);
    border: 1px solid var(--gray);
    border-radius: 4px;
}

.clients .clients-links:hover,
.clients .clients-links:focus {
    border: 1px solid var(--accent-cl);
    fill: var(--accent-cl);
}

.container.footer-padding {
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.footer {
    background-color: var(--dark-bg);
}

.footer .logo {
    display: inline-block;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--accent-cl);
    text-decoration: none;
}

.footer .logo-text {
    color: var(--white);
}

.footer .address {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    margin-top: 20px;
}

.footer .map {
    color: var(--white);
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
}

.footer-icon p {
    display: flex;
    margin-bottom: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
}

.footer-icon {
    margin-left: 70px;
}

.footer .link {
    width: 20%;
    display: block;
    margin-top: 9px;
    color: var(--gray);
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    white-space: nowrap;
}

.footer-social-icons {
    display: flex;
    padding: 0 0;
}

.footer-social-icons-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.footer-social-icons-svg {
    width: 20px;
    height: 20px;
    fill: var(--white);
}

.footer-social-icons-item:not(:last-child) {
    margin-right: 10px;
}

.footer-social-icons-link:hover .social-icons-svg,
.footer-social-icons-link:focus .social-icons-svg {
    fill: var(--white);
}

.footer-social-icons-link:hover,
.footer-social-icons-link:focus {
    background-color: var(--accent-cl);
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

@import "./components/modal";


/* --Портфолио-- */
.portfolio .filter {
    display: flex;
    justify-content: center;
}

.portfolio .filter-items:not(:last-child) {
    margin-right: 8px;
}

.container.portfolio-padding {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filter .link-filter {
    padding: 6px 22px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: var(--black);
    background: var(--bg);
    border-radius: 4px;
    border: 0;
        outline: none;
    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter .link-filter:hover,
.link-filter:focus {
    background: var(--accent-cl);
    color: var(--white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio .content {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
}

.portfolio .content-items {
    width: calc((100% - 60px) / 3);
    border: 1px solid #eeeeee;
}

.portfolio .content-items:not(:nth-child(-n + 3)) {
    margin-top: 30px;
}

.content .type {
    margin-top: 4px;
    margin-bottom: 0;
    padding-left: 24px;
    color: var(--main-text-cl);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
}

.content-overlay {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.content-overlay::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.content .link:hover .content-overlay::before,
.content .link:focus .content-overlay::before {
    opacity: 1;
    transform: translateY(0);
}

.content-overlay > .description {
    position: absolute;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 24px;
    padding-left: 24px;
    font-size: 18px;
    line-height: 1.555;
    color: var(--white);
    font-family: Roboto;
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}

.content .link:hover .description,
.content .link:focus .description {
    opacity: 1;
    transform: translateY(0);
}

.content{
    justify-content: space-between;
}

.content .link {
    display: block;
    background: var(--white);
    text-decoration: none;
    padding-bottom: 20px;
}

.content .link:hover,
.content .link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.content .title {
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 24px;
    color: var(--black);
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.content .type {
    margin-top: 4px;
    margin-bottom: 0;
    padding-left: 24px;
    color: var(--main-text-cl);
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
}

.social-icons {
    display: flex;
    padding: 0 0;
    margin-left: 32px;
}

.social-icons-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--bg);
    border-radius: 50%;
}

.social-icons-svg {
    width: 20px;
    height: 20px;
    fill: var(--gray);
}

.social-icons-item:not(:last-child) {
    margin-right: 10px;
}

.social-icons-link:hover .social-icons-svg,
.social-icons-link:focus .social-icons-svg {
    fill: var(--white);
}

.social-icons-link:hover,
.social-icons-link:focus {
    background-color: var(--accent-cl);
}

.wedo .item-img:hover,
.wedo .item-img:focus {
    background-color: var(--accent-cl);
}

.join-box {
    font-family: Roboto;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: var(--white);
}

.mail-form {
    width: 356px;
    font-family: Roboto;
	height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
    background-color: var(--dark-bg);
    color: var(--white);
	padding-left: 16px;
	margin-right: 12px;
}

.footer-button {
	display: inline-flex;
	align-items: center;
    width: 200px;
    font-family: Roboto;
	height: 50px;
	padding-top: 10px;
	padding-right: 28px;
	padding-bottom: 10px;
	padding-left: 29px;
	background: var(--accent-cl);
	border-color: var(--accent-cl);
	color: var(--white);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: 0;
	cursor: pointer;
}

.icon-send-svg {
	fill: var(--white);
	margin-left: 10px;
}

.js-speaker-form{
    display: flex;
}