.hero {
    background-color: var(--dark-bg);
    background-image: linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(../img/bg-Img.jpg);
    background-color: #c4c4c4;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero > .container {
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero .title {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: var(--white);
    font-family: Roboto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}