.modal {
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    background: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal .modal-button {
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
}

.modal-button:hover,
.modal-button:focus {
    fill: var(--accent-cl);
}
.modal-content {
    display: flex;
    flex-direction: column;
}

.modal-content .title {
    margin-top: 0;
    margin-bottom: 12px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--black);
}

.modal-content-label {
    position: relative;
    display: block;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.166;
    letter-spacing: 0.01em;
    color: var(--main-text-cl);
}

.modal-content-label:nth-child(n + 3) {
    margin-top: 10px;
}

.modal-content-imput {
    margin-top: 4px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 35px;
    display: block;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    resize: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-content-imput:hover,
.modal-content-imput:focus {
    border: 1px solid  var(--accent-cl);
    cursor: url(../img/icons/finger.svg), pointer;
}

.modal-content-imput:hover ~ .modal-content-icon,
.modal-content-imput:hover {
    fill: var(--accent-cl);
}

.modal-content-imput:focus ~ .modal-content-icon,
.modal-content-imput:focus {
    fill: var(--accent-cl);
}

.modal-content-imput.coments {
    padding-left: 16px;
    height: 120px;
}

.modal-content-imput.coments::placeholder {
    color: hsla(0, 0%, 46%, 0.5);
}

.modal-content-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content-check {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    color: var(--main-text-cl);
}